.SideBar {
  justify-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
  color: black;
}

.Link {
  color: #61dafb;
  font-size: medium;
}

.Avatar {
  padding-top: 15px;
  padding-bottom: 0px;
}

h2 {
  padding-top: 0px;
}